body{
    background-color: aquamarine;
    border-radius: 20%;
}
    form{
        background:lead;
        margin:auto;
        width:500px;
        border:1px solid#ccc;
        padding:20px;
    }
    label{
        display:block;
        width:100%;
    }
    input{
        width:100%;
        padding:10px;
        box-sizing:border-box;
    }